{% extends "base.html" %}

<!-- Announcement bar -->
{% block announce %}
  If you want to chat, my username is <strong>@3ky_sec</strong> on
  <a rel="me" href="#">
    <span class="twemoji discord">
      {% include ".icons/fontawesome/brands/discord.svg" %}
    </span>
    <strong>Discord</strong>
  </a>
  and here is my
  <a href="https://www.linkedin.com/in/dcollaoa/">
    <span class="twemoji linkedin">
      {% include ".icons/fontawesome/brands/linkedin.svg" %}
    </span>
    <strong>LinkedIn.</strong>
{% endblock %}
